﻿@using System.Data
@model System.Data.DataTable

<table id="empTable" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Position</th>
            <th style="text-align: center">Salary</th>
            <th style="text-align: center">Join Date</th>
        </tr>

    </thead>
    <tbody class="">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
               
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center" class="NameField">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center" class="SalaryField">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
               
            </tr>
        }
    </tbody>
</table>

