﻿
@{
    ViewBag.Title = "Employee Salary With Bonus List";
}


<div class="form-horizontal">
    <h4>Employee Salary With Bonus List</h4>
    <hr />
   
    <div class="form-group">
        @Html.Label("EmpId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("EmpId", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <button value="" class="btn btn-default" id="ShowSalary">Show Salary</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <button value="" class="btn btn-default" id="NameHigh">Name Highlight</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <button value="" class="btn btn-default" id="SalaryHigh">Salary Highlight</button>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 form-group" id="empList">
            </div>
        </div>
    </div>
    @section Scripts{
        <script>

        $(function () {

            $("#ShowSalary").on("click",
                function () {
                    $("#empList").html('');

                        var urlpath = '@Url.Action("GetManagerWiseEmpList", "ManagerMapping")';
                        $.ajax({
                            url: urlpath,
                            dataType: 'html',
                            type: "Get",
                            data: { empId: $("#EmpId").val()},
                            async: false,
                            success: function (data) {
                                $("#empList").html(data);
                            }
                        })

                });

            $("#SalaryHigh").on("click",
                function () {
                    debugger;
                    $(".SalaryField").css('font-weight', 'bold');
                    $(".NameField").css('font-weight', 'normal'); 
                 });

            $("#NameHigh").on("click",
                function () {
                    $(".NameField").css('font-weight', 'bold');
                    $(".SalaryField").css('font-weight', 'normal'); 
                });
        });
        </script>
    }
